.daily-summary {
  margin-bottom: 10px;
  height: 280px;
  overflow-y: auto; 
}


.logo-btn .logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.summary-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.summary-table th,
.summary-table td {
  border: 2px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 8px;
  text-align: center;
}

.summary-table th{
  border-bottom: 2px solid #000000;
  border-top: none;
  font-size: 14px;
}

.summary-sum{
  border-bottom: 2px solid #000000;
  border-top: none;
  font-size: 14px;
}