a.active,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;

}

.DashLogo {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;

  text-align: center;
}

a:visited {
  color: black;
}

.dashboard-container {
  display: flex;
  height: 100%;
  background: #f5f5f5;
}


.sidebar {
  width: 180px;
  background-color: #353535;
  color: white;
  min-height: 100vh;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar nav ul li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar ul li a {
  display: block;
  padding: 12px 30px;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar ul li a.active {
  background-color: #2D6DFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.sidebar ul li a:hover {
  background-color: #4079fe;
}

.sidebar a.active {
  font-weight: bold;
  color: #FFFFFF;
}

.daily-summary h2 {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: bold;
}

.logo-btn {
  background: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-btn .logo-img {
  width: 70%;
  height: 70%;
  object-fit: contain;
}

.main-content {
  flex: 1;
  background: #ECECEC;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.Upper {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.top {
  flex: 1;
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.faqtop{
  width: 885px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.top .card {
  flex: 1;
}

.usertop{
  width: 885px;
  margin-bottom: 20px;
}

.top-section {
  grid-template-columns: 41% 41% 15%;
}

.bottom {
  display: grid;
  grid-template-columns: 42% 41% 14%;
  gap: 20px;
}

.bottom-section {
  display: flex;
  gap: 32px;
  flex: 1 1 0;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.settingCard1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 219px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 233px;
}

.dashboard-card1 {
  max-width: 480px;
  max-height: 350px;
  overflow: hidden;
}

.dashboard-card2 {
  max-width: 390px;
  max-height: 350px;
}

.dashboard-card3 {
  max-width: 504px;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}

.userlist-card {
  max-width: 885px;
}

.post-card {
  max-width: 430px;
}

.postb-card {
  max-width: 875px;
}

.stat-card {
  max-width: 875px;
}

.statb-card {
  max-width: 420px;
}

.faqbox {
  width: 885px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.noticebox {
  width: 885px;
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.userList-card {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  min-height: 219px;
}

.new-card 
.total-card {
  width: 820px;
  align-items: flex-start;
  gap: 16px;
  flex-direction: column;
}

.user-top {
  display: flex;
  gap: 32px;
  flex: 83% 15%;
  margin: 0 auto;
  max-width: 885px;
  width: 100%;
  box-sizing: border-box;
}


.user-top .card:last-child {
  flex: 0 165px;
}

.empty {
  width: 132px;
  padding: 20px;
  background-color: transparent;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.post-card1,
.post-card2 {
  background: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 435px;
  max-height: 350px;
  overflow: hidden;
}

.post-card3 {
    max-width: 885px;
}

.sub {
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.card-title {
  font-size: 1.3rem;
  font-weight: bold;
}

.card-title-summary {
  font-size: 1.3rem;
  font-weight: bold;
}

.ask-title {
  font-size: 17px;
  font-weight: bold;
}

.newUser {
  width: 740px;
  gap: 20px;
}

.user-list {
  margin-top: 14px;
}

.more {
  font-size: 0.8rem;
  color: gray;
  cursor: pointer;
}

.graph {
  background: #f4f4f4;
  height: 150px;
  border-radius: 4px;
  margin-top: 16px;
}

.profile-card {
  text-align: center;
  padding: 20px;
  background-color: #353535;
  width: 151px;
  height: 300px;
  position: absolute;
  right: 10px;
}

.profile-bundle {
  width: 80px;
  height: 80px;
  background: #444;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
}

.profile-info p {
  margin: 5px 0 0 0;
  font-weight: bold;
}

.profile-info span {
  font-size: 0.7rem;
  color: #aaa;
}

.list-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.list-table th,
.list-table td {
  border: 2px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 8px;
  text-align: center;
}

.list-table th {
  border-bottom: 2px solid #000000;
  border-top: none;
}


.faqItem {
  margin-bottom: 10px;
}

.faq-question,
.notice-title {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 2px;
  margin-top: 16px;
}

.faq-answer {
  font-size: 12px;
  color: gray;
  margin-bottom: 5px;
}

.notice-content {
  font-size: 12px;
  color: gray;
}

.search-input {
  width: 360px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.inquiry-content {
  background: #fefefe;
  margin-top: 10px;
  min-height: 120px;
}

/* 구분선 */
.divider {
  margin: 17px 0;
}

.send {
  font-size: 0.9rem;
  color: #616161;
  margin-top: 9px;
}

.ask-date {
  font-size: 0.8rem;
  color: #616161;
}

/* 답변 영역 */
.answer-section {
  display: flex;
  gap: 10px;
}

.profile-image {
  min-width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.answer-box {
  flex-grow: 1;
}

.answer-box textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  background: #f0f0f0;
  border: none;
  resize: none;
}

.button-wrapper {
  text-align: right;
  margin-top: 10px;
}

.button-wrapper button {
  padding: 6px 12px;
  background: #333;
  color: white;
  border: none;
  cursor: pointer;
}

.button-wrapper button:hover {
  background: #555;
}

.listTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;

}

.listTable th,
.listTable td {
  border: 2px solid #ddd;
  border-left: none;
  border-right: none;
  padding: 8px;
  text-align: center;
  overflow-wrap: break-word
}

.listTable th {
  border-bottom: 2px solid #000000;
  border-top: none;
}